.list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.menu_link {
    font-size: 2cqw;
    line-height: 40px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    color: beige;
    text-decoration: none;
    transition-property: color;
    transition-duration: 500ms;
}
.menu_item {
    margin-left: 6cqw;
}
.menu_item:first-child {
    margin-left: 0;
}

.menu_link:hover,
.menu_link:active,
.menu_link:focus {
    color: lightcoral;
    font-size: 2.5cqw;
}

@media (max-width: 500px) {
    .list {
        justify-content: centr;
    }
}